.menu {
    background-color:#343a40;
    color: white;
    margin-right: 5px;
    font-family: Noto Sans, sans-serif;

}
.menu nav {
    margin-top: 10%;
    margin-bottom: 20%;

}
.menu label {
    text-align: center;
    
}
.menu ul {
    list-style: none;
    padding: 0px;

}
.menu ul li {
    /* border-bottom: 1px solid white; */
    padding: 10px;
    padding-left: 20px;
    /* background-color: #005797; */

}
.menu ul li a {
    color: white;
    text-decoration: none;

}
.menu ul li:hover {
    background-color: cornflowerblue;   
    transition: 0.8s;

}


/* PARTES DO ANTIGO LAYOUT */
.lista-icones {
    margin: 30px;
    margin-bottom: 0px;

}
#img-contato-icone {
    height: 30px; width: 30px; margin: 15px;

}

#formulario {
    font-style: italic;
    margin: auto;
    width: 90%;
    
}
#caixa {
    margin: 5px;
    width: 95%;
    
    font-style: italic;
    background-color:#bbbbbb;

}
textarea {
    height: 10%;

}
#botao-enviar {
    margin-top: 50px;
    padding: 5px;
    background-color: red;
    

}